*{
    font-family: 'Roboto', sans-serif;
}
main{
}

.h2{

text-align: center;
}

.apresentacao{
    display:flex;
    justify-content: center;
}

.box-apresentacao{

    background-color: #d2c3b1;
    border: 2px  solid black;
    max-width:auto;
	max-height: auto; 
	border-radius: 10px;
    text-align: justify;
    padding: 10px;
    margin-top:50px ;
    margin-bottom: 90px;
}

.mulher img{
    max-width: 200px;
    float: left;
    vertical-align: baseline;
}

.homem img{
    width: 200px;
    float:right;
    background-image:#d2c3b1;
    vertical-align: baseline;
    
}

.box-diferencial{
    float: center;
    background-color: #d2c3b1;
    border: 2px  solid black;
    max-width:auto;
	max-height: auto;
    text-align: justify;
	border-radius: 10px;
    padding: 10px;
}

.h1{
    text-align: center;

}

.pergunta{
    cursor: pointer;
    }

.resposta { 
    display: none 
}

.pergunta label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%,
  input,
}
.pergunta input:checked ~ 
.resposta {
  display: block;
}

